language: java
jdk:
  - oraclejdk8

install:
#- mvn -f kafka-connector/pom.xml package
#- mvn -f load-test-framework/pom.xml package
#- mvn -f client/pom.xml package
- mvn -f jms-light/pom.xml package

script:
- ls

